* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

.btn.btn-primary {
    background-color: #ff4b57;
    border-color: #ff4b57;
    border-radius: 10px;
}

.btn.btn-primary:hover {
    background-color: #f52533;
    border-color: #ff4b57;
}

p.text-secondary {
    color: #dedede !important;
}

h2.text-primary {
    color: #ff4b57 !important;
}

i.text-primary {
    color: #ff4b57 !important;
}


body.bg-dark {
    background-color: #23253a !important;
}

.card.bg-dark-alt {
    background-color: #2b2e41;
}

.form-control.bg-dark-alt {
    background-color: #2b2e41;
}

section {
    padding: 100px 0;
}

section .header-title {
    font-size: 100px;
}

section .section-title {
    font-size: 52px;
}

.btn.btn-orange {
    background-color: #ff4b57;
    color: rgb(255, 255, 255);
}

.btn.btn-orange:hover {
    background-color: #f52533;
    color: rgb(26, 26, 26);
}

.form-control:focus {
    color: #000000 !important;
}

.form-control:focus::placeholder {
    color: #000000 !important;
}

.form-control::placeholder {
    color: #dedede !important;
}

.justify {
    text-align: justify;
}

@media screen and (max-width: 768px) {
    section {
        padding: 50px 0;
    }

    section .header-title {
        font-size: 52px;
    }

    section .section-title {
        font-size: 42px;
    }
}

.text-center {
    text-align: center;
}

.nav-link {
    color: #dedede;
}
.nav-link:hover {
    color: #dedede;
}